header .navbar-brand img {
  min-width: 100px;
  height: auto;
}

.stepsWrapper {
  /* min-height: 100%; */
  background-color: #f6f6f6;
  overflow-y: auto;
}

.stepperWrapper .stepper {
  overflow-y: auto;
}

.stepper .inputWrapper .mat-form-field {
  width: 100%;
  overflow-y: auto;

}

.stepper .inputWrapper input {
  width: 100%;
}

.stepper .stepperNextBtn {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #fff;
  background-color: #0D67CD;
  border: none;
  margin-left: -24px;
  padding: 15px 5px;
  /* margin-top: 20px; */
  z-index: 2;
}

.stepper .inputWrapperExtra {
  padding: 20px 25px;
  margin-bottom: 10px;
  background-color: #ffffff;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}

.stepper .inputWrapperExtra mat-radio-button{
  width: 100%;
}

.stepper .inputWrapperExtra:hover,
.stepper .inputWrapperExtra:focus,
.stepper .inputWrapperExtra:focus-within {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

.resendBtn > button {
  margin-top: 24px;
  border-radius: 24px;
  border: 2px solid #0D67CD;
  background-color: #ffffff;
  color: #0D67CD;
}

.resendBtn div button {
  margin-top: 24px;
  border-radius: 24px;
}

.formCompleteView {
  padding: 10px 24px;
  padding-top: 100px;
}
