<div class="container-fluid orderSummaryContainer" id="container">
  <!-- <img class="tktBg" src="../../assets/tktCutoutArtboard 1.svg" alt=""> -->

  <h4>
    Order Summary
  </h4>

  <hr>

  <div class="row">
    <div class="col col-6 text-left">
      Discount
    </div>
    <div class="col col-6 text-right">
      6993.00
    </div>

    <div class="col col-6 text-left">
      Taxable Amount
    </div>
    <div class="col col-6 text-right">
      187695.00
    </div>

    <div class="col col-6 text-left">
      SGST
    </div>
    <div class="col col-6 text-right">
      1.5%
    </div>

    <div class="col col-6 text-left">
      CGST
    </div>
    <div class="col col-6 text-right">
      1.5%
    </div>
  </div>

  <hr>

  <div class="row totalDiv">
    <div class="col col-6 text-left">
      Grand Total
    </div>
    <div class="col col-6 text-right">
      ₹ 193326.00
    </div>
  </div>

</div>
